.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #475569;
  font-family: 'Roboto';
  margin-bottom: 10px;
}
.arrow-image {
  width: 20px;
  height: 20px;
}
.para {
  margin-top: 0;
  margin-bottom: 0;
}
